/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#BrowserPreferences radio[pane="paneShortcuts"] {
  list-style-image: url("resource://customizable-shortcuts-at-timtaubert-dot-de/customizable-shortcuts/data/icon.png");
}

#BrowserPreferences[animated="true"] #shortcutsTree {
  height: 25em;
}

#BrowserPreferences[animated="false"] #shortcutsTree {
  -moz-box-flex: 1;
}


#shortcutsTree > treechildren::-moz-tree-cell-text(container),
#shortcutsTree > treechildren::-moz-tree-cell-text(custom) {
  font-weight: 700;
}

#shortcutsTree > treechildren::-moz-tree-cell-text(overridden) {
  text-decoration: line-through;
}

#shortcutsTree > treechildren::-moz-tree-cell-text(container) {
  padding-left: 4px;
}
